<mat-nav-list>
    <a (click)="onSideNavClick()" mat-list-item routerLink="/signup">
      <mat-icon>face</mat-icon>
      <span class="slide-caption">signup</span>
    </a>
    <a (click)="onSideNavClick()" mat-list-item routerLink="/login">
      <mat-icon>input</mat-icon>
      <span class="slide-caption">login</span>
    </a>
    <a (click)="onSideNavClick()" mat-list-item routerLink="/training">
      <mat-icon>fitness_center</mat-icon>
      <span class="slide-caption">training</span>
    </a>
    <mat-list-item>
      <button mat-icon-button >
        <mat-icon>eject</mat-icon>
        <span class="slide-caption">logout</span>
      </button>
    </mat-list-item>
  </mat-nav-list>