.sidenavStyle{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.navigation-items{
    gap: 10px;
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover, 
a:active{
    color: lightgray;
}

@media only screen and (min-width: 600px){
    .menu-button{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .sidenavStyle{
        display: none;
    }
}